// Yazılım Dilleri Renkleri
$html-color:#e34c26;
$css-color: #264de4;
$sass-color:#cd6799;
$bootstrap-color: #563d7c;
$javascript-color:#f0db4f;
$react-color: #61dbfb;
// Sosyal Medya Renkleri
$twitter-color:#00acee;
$instagram-color:#e1306c;
$linkedin-color: #0072b1;
$github-color: #333;
$youtube-color: #FF0000;
// Utilities Color
$background-color: #f2f2f2;
$dark-color: #333;
$light-color: #fff;
$main-color: coral;